body{
    display: flexbox;
}
*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.hidden{
    opacity: 0;
}
.overlay-background{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height:100vh;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f7e0b4;
    color: black;
    font-size: 1.1rem;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    min-width: 300px;
    opacity: 1;
    transition: opacity 0.5s ease;
}
.error-message{
    position: absolute;
    left: 300px;
    max-width: fit-content;
    height: 50px;
    padding: 2px;
}
.error-message.overlay-content{
    opacity: 1;
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.error-message.overlay-content.hidden{
    opacity: 0;
}
.overlay-button{
    background-color: #e0c99e;
    margin-top: 20px;
    padding: 10px 20px;
    border-width: 2px;
    border-color: black;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-size: 1rem;
}

.grid-square{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8vw;
    height: auto; 
    aspect-ratio: 1/1;
    max-width: 55px;
    min-width: 40px;
    font-size: 1.5rem;
    margin: 3px;
    background-color: #eaeaea;
    border: #3d2333 solid;
    border-width: 2px;
    font-size: 2rem;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-weight:bolder;
    color: rgb(18, 18, 18);
    position: relative;
}

.grid-square:hover{
    cursor: pointer;
}

.grid-row{
    display:flex;
    flex-direction: row;
    justify-content: center;
    width: 250px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
#arrow-img{
    width: 44px;
    height: 44px;
    position: absolute;
    top: 50%;
    left:-44px;
    transform: translateY(-50%);
}

footer{
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 100%;
    left: 10px;
    bottom: 10px;
}

.keyboard-row{
    display: flex;
    justify-content: center;
    width: 40vw;
    max-width: 500px;
    margin: 0 auto;
}

.key{
    flex-grow: 1;
    margin: 2px;
    height: 8vh;
    width: 100%;
    min-height: 30px;
    max-height: 50px;
    width:auto;
    border: 1px solid black;
    font-size: 1.5rem;
    font-family: "Inter", sans-serif;
    font-weight: 700;
}
.key:focus{
    outline: none;
}

@media (max-width: 480px) {

    .grid-row{
        width: 80vw;
    }

    .grid-square{
        width: 20vw;
        max-width: 60px;
        height: auto;
        font-size: 2.5rem;
    }

    #keyboard{
        margin-top: 11vh;
    }

    .keyboard-row{
        width: 95vw;
    }
}


footer span{
    font-size:0.75rem;
}

.green-box {
    background-color: green; 
    border-color: green;
    color: white;        
}
.yellow-box {
    background-color: #FFD700; 
    border-color: #FFD700;
    color: white;        
}
.gray-box {
    background-color: gray; 
    border-color: gray;
    color: white;        
}

.color-box {
    display: inline-block; 
    width: 20px;         
    height: 20px;         
    border-radius: 4px;  
}

.gray {
    background-color: gray;
}

.yellow {
    background-color: #FFD700;
}

.green {
    background-color: green;
}

.page-switch{
    padding: 5px;
    border: 3px solid orange;
    background-color: orange;
    font-style: normal;
    border-radius: 2px;
    color: white;
    text-decoration: none;
}

#cloud-img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;
    z-index: -1;
    top: 3px;
}

#cloud-div{
    position: absolute;
    left: 50%;
    bottom: 110%;
    width: 140px;
    height:90px;
    transform:translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    box-sizing: border-box;
    padding: 10px;

    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s;
}
#cloud-div.show{
    opacity: 1;
    visibility: visible;
}

#cloud-text{
    color: black;
    font-size: 0.85rem;
    line-height: 1.2;
    text-align: center;
    width: 100%;
    max-width: 105px;
    padding-bottom: 15px;
    white-space: normal;
    word-wrap: break-word;
    padding-bottom: 16px;
    z-index: 1;
    position: relative;
}

#answer{
    font-weight: 800;
    font-size: 1.5rem;
}

.nav-logo{
    width: 35px;
    height: 40px;
}